<!DOCTYPE html>
<html>
  <head>
    <title>Create Small URL</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1 id="endedURL">Enter Full URL</h1>
    <input type="url" id="url" />
    <input type="button" id="sendBTN" value="send"/>
    <script src="/js/logic.js"></script>
  </body>
</html>
